<style>

  
    .fullname{
      display: flex;
      align-items: center;
      padding-left: 5px;
    }
    .titile
    {
      font-weight: bold;
    }
   
  </style>
  
  
  <div class="card card-custom card-sticky gutter-b">
    <div class="card-header">
      <div class="card-title">
        <div class="card-toolbar" style="padding-right: 20px;">
          <button type="button" class="btn btn-primary" (click)="create()">New    </button>
        </div>
        <form style="padding-right: 10px;">
            
          <span style="    display: flex;
          align-items: center;
          position: absolute;
          margin-top: 15px;
          margin-left: 10px;">
              <mat-icon>search</mat-icon>
          </span>
          <input    (ngModelChange)="saverange($event)"  [(ngModel)]="searchtext"  type="text" name="search" placeholder="Tìm kiếm ...">
        </form>
      </div>
 
    

    </div>
    <!-- body -->
    <div class="card-body">
      <div class="table-responsive angular-bootstrap-table" [ngStyle]="{ height: getHeight() }">
        <table class="table table-head-custom table-vertical-center overflow-hidden">
          <thead>
            <!-- <th >
              <span class="titile">Group</span>
             
            </th> -->
            <th>
              <span class="titile">IdCode</span>
             
            </th>
            <th >
              <span class="titile">Name </span>
            
            </th>
            <th >
              <span class="titile">Note</span>
            
            </th>
          
            <th *ngIf="user.role_deparment=='all'||user.role_deparment=='admin'">Action</th>
         
           
         
          
             
         
        
          </thead>
          <tbody>
           
          <tr *ngFor="let r of _thuchi_services._itemsThu$ | async">
             
              <!-- <td>
                <div>
                  <span class="cssusername">{{ r.groupname }}</span>
                </div>
              </td> -->
              <td>
                <div>
                  <span class="cssDepartment">{{ r.id_code  }} </span>
                </div>
              </td>
              <td>
                <span class="cssJobtitle">{{ r.name_code }} </span>
              </td>
              <td>
                <span class="cssJobtitle">{{ r.note }} </span>
              </td>
              
          <td *ngIf="user.role_deparment=='all'||user.role_deparment=='admin'">
            <a title="Edit customer" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
            (click)="Update(r)">
            <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
              class="svg-icon svg-icon-md svg-icon-primary">
            </span>
          </a>
            <a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm"
            (click)="Delete(r.id_code)">
            <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
              class="svg-icon svg-icon-md svg-icon-danger">
            </span>
          </a>
          </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end: Table -->
      <app-paginator
        class="d-flex justify-content-between align-items-center flex-wrap"
        [paginator]="paginator"
        [isLoading]="isLoading"
        (paginate)="paginate($event)"
      ></app-paginator>
    </div>
  </div>
  
  