

  <!-- STATIC CONTENT -->

<!-- STATIC CONTENT -->
<!-- TABS -->
<div >
  <!-- TABS CONTAINER -->
  <div class="nav nav-tabs d-flex" id="nav-tab" role="tablist">
    <!-- TAB1 -->
    <a
      class="w-100 nav-item nav-link"
      routerLink="/Planning/plan/Rev-Plan"
      routerLinkActive="active"
      style="flex: 1"
    >
    Revenue Plan
    </a>
    <!-- TAB2 -->
    <a
      class="w-100 nav-item nav-link"
      routerLink="/Planning/plan/Exp-Plan"
      routerLinkActive="active"
      style="flex: 1"
    >
    Expenditure Plan
    </a>
   
  </div>
  <!-- Router outlet -->
  <router-outlet></router-outlet>
</div>
