<!-- STATIC CONTENT -->

<!-- STATIC CONTENT -->
<!-- TABS -->
<div >
  <!-- TABS CONTAINER -->
  <div class="nav nav-tabs d-flex" id="nav-tab" role="tablist">
    <!-- TAB1 -->
    <a
      class="w-100 nav-item nav-link"
      routerLink="/Planning/RE/Rev"
      routerLinkActive="active"
      style="flex: 1"
    >
    Revenue reality
    </a>
    <!-- TAB2 -->
    <a
      class="w-100 nav-item nav-link"
      routerLink="/Planning/RE/Exp"
      routerLinkActive="active"
      style="flex: 1"
    >
    Expenditure  reality
    </a>
    <!-- TAB3 -->
    <!-- <a
      class="w-100 nav-item nav-link"
      routerLink="/Planning/RE/Debt"
      routerLinkActive="active"
      style="flex: 1"
    >
    Debt
    </a> -->
  </div>
  <!-- Router outlet -->
  <router-outlet></router-outlet>
</div>
