<div class="card card-custom " [ngClass]="cssClass">
  <!-- Header -->
  <div class="card-header border-0 py-5">
    <h3 class="card-title font-weight-bolder text-white">Planned revenue with actual revenue</h3>
    <div class="card-toolbar">
     
    </div>
  </div>
  <!-- Body -->
  <div class="card-body d-flex flex-column p-0">
    <!--begin::Chart-->
    <mat-form-field style="width: 200px;margin-left: 4%;" appearance="fill">
      <mat-label> Year</mat-label>
      <mat-select  [(ngModel)]="selected"  (ngModelChange)="onDepartmentSelectionRe()">
        <mat-option *ngFor="let item of listYear" [value]="item.value">
          {{ item.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div
      id="kt_mixed_widget_4_chart"
     
    >
    <ngx-charts-bar-vertical-2d
    [view]="view"
    [scheme]="colorScheme"
    [results]="single2_chi"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [xAxisLabel]="xAxisLabel"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
   
 >
</ngx-charts-bar-vertical-2d>
    </div>
    <!--end::Chart-->
    <!--begin::Stats-->
    <div class="card-spacer bg-white card-rounded flex-grow-1">
      <!--begin::Row-->
      <div class="row m-0">
        <div class="col px-8 py-6 mr-8">
          <div class="font-size-sm text-muted font-weight-bold">
            Reality
          </div>
          <div class="font-size-h4 font-weight-bolder">{{total_thucte|number}} VNĐ</div>
        </div>
        <div class="col px-8 py-6">
          <div class="font-size-sm text-muted font-weight-bold">Plan</div>
          <div class="font-size-h4 font-weight-bolder">{{total|number}} VNĐ</div>
        </div>
      </div>
      <!--end::Row-->
      <!--begin::Row-->
   
      <!--end::Row-->
    </div>
    <!--end::Stats-->
  </div>
</div>
